@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Kids 4 Life</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

{{2+2}}


<div class="row" ng-controller="foodController as fc">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div style="width:500px;margin:0 auto;">
    <script src="http://platform.fatsecret.com/js?key=739c762a693d415f90c92fbf5447e575&amp;auto_load=true"></script>
</div>


@section scripts{
<<<<<<< HEAD
    <script src="http://platform.fatsecret.com/js?key=739c762a693d415f90c92fbf5447e575"></script>
    }
=======

    <script>
        (function () {
            "use strict";

            angular.module('myApp').factory('$fatSecretService', fatSecretService)

            fatSecretService.$inject = ['$http'];

            function fatSecretService($http) {
                var vm = this;

                return {
                    foodSearch: _foodSearch
                }

                function _foodSearch() {
                    vm.settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "http://platform.fatsecret.com/rest/server.api?search_expression=beef&method=foods.search&oauth_consumer_key=739c762a693d415f90c92fbf5447e575&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1498336378&oauth_nonce=C5QiVi4OH6F&oauth_version=1.0&oauth_signature=7Ug2R5JxhX9V6df9e2t/lTXtu9U=&format=json&max_results=50",
                        "method": "GET",
                        "headers": {
                            "xhrCredentials": 'true'
                        }
                    }

                    return $http(vm.settings)
                        //.then(onCompleteFoodSearch)
                }
            }
        })();

        (function () {
            "use strict";
            angular.module('myApp').controller('foodController', FoodController);

            FoodController.$inject = ['$scope', '$fatSecretService'];

            function FoodController($scope, $fatSecretService) {
                var vm = this;
                vm.$scope = $scope;
                vm.$fatSecretService = $fatSecretService;

                vm.foodSearch = _foodSearch;

                render();

                function render() {
                    console.log("starting");
                    vm.foodSearch();
                }

                function _foodSearch() {
                    vm.$fatSecretService.foodSearch()
                        .then(onCompleteFoodSearch)
                }

                function onCompleteFoodSearch(response) {
                    console.log(response)
                }
            }


        })();
    </script>
}
>>>>>>> ff7b4e765f01d6e2d877f4542c8de0ebbe7bca64
