@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Kids 4 Life</h1>

</div>

<div class="row" ng-controller="foodController as fc">
    <div class="panel container">
            <div class="panel-default">
            

                <div class="col-md-12">
                    <!-- start family information -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> Family Information</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div>
                                        <form id="form" name="form">

                                            <div class="form-group">
                                                <h5><label>Family Size</label></h5>
                                                <input type="number" name="familySize" min="1" max="20" class="form-control" ng-model="fc.item.familySize" style="max-width:800px;" />
                                            </div>


                                            <div class="form-group">
                                                <h5><label>Number of Children</label></h5>
                                                <input type="number" name="numberOfChildren" min="1" max="20" class="form-control" ng-model="fc.item.numberOfChildren" maxlength="50" style="max-width:800px;" />
                                            </div><br />

                                            <br />
                                            <button type="submit" class="btn btn-primary" ng-click="fc.onSubmit(fc.item)">Submit</button><br />
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end parent section-->


                    <!-- child information-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> Child Information</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div>
                                        <form id="childForm" name="childForm">

                                            <div class="form-group">
                                                <h5><label>Child Name</label></h5>
                                                <input type="text" name="childName" class="form-control" ng-model="fc.child.childName" style="max-width:800px;" />
                                            </div>


                                            <div class="form-group container">
                                                <div class="row">
                                                    <h5><label>Age (Years/Months)</label></h5>
                                                    <div class="col-md-4">
                                                        <input type="number" name="ageInYears" min="1" max="99" class="form-control" ng-model="fc.child.childAgeYears" placeholder="Years" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="number" name="ageInMonths" min="1" max="12" class="form-control" ng-model="fc.child.childAgeMonths" placeholder="Months" />
                                                    </div>
                                                    </div>
                                            </div><br />

                                            <br />
                                            <button type="submit" class="btn btn-primary" ng-click="fc.submitChild(fc.child)">Submit</button><br />
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end child information-->


                    <!-- select child start-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Select Child</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div>
                                       

                                           <div ng-repeat="child in fc.myChildren">
                                               {{child.childName}}
                                           </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- select child end-->
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        (function () {
            "use strict";

            angular.module('myApp').factory('$fatSecretService', fatSecretService)

            fatSecretService.$inject = ['$http'];

            function fatSecretService($http) {
                var vm = this;

                return {
                    foodSearch: _foodSearch,
                }

                function _foodSearch() {
                    vm.settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "http://platform.fatsecret.com/rest/server.api?search_expression=beef&method=foods.search&oauth_consumer_key=739c762a693d415f90c92fbf5447e575&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1498336378&oauth_nonce=C5QiVi4OH6F&oauth_version=1.0&oauth_signature=7Ug2R5JxhX9V6df9e2t/lTXtu9U=&format=json&max_results=50",
                        "method": "GET",
                        "headers": {
                            "xhrCredentials": 'true'
                        }
                    }

                    return $http(vm.settings)
                    //.then(onCompleteFoodSearch)
                }




            }
        })();

        (function () {
            "use strict";
            angular.module('myApp').controller('foodController', FoodController);

            FoodController.$inject = ['$scope', '$fatSecretService', '$http'];

            function FoodController($scope, $fatSecretService, $http) {
                var vm = this;
                vm.$scope = $scope;
                vm.$fatSecretService = $fatSecretService;
                vm.$http = $http;

                vm.foodSearch = _foodSearch;

                //family size input
                vm.item = null;
                vm.child = null;
                vm.onSubmit = _onSubmit;
                vm.submitChild = _submitChild;
                vm.myChildren = null;
                vm.getChildren = _getChildren;

                render();

                function render() {
                    console.log("starting");
                    vm.foodSearch();

                    vm.getChildren();
                }

                function _foodSearch() {
                    vm.$fatSecretService.foodSearch()
                        .then(onCompleteFoodSearch)
                }

                function onCompleteFoodSearch(response) {
                    console.log(response)
                }



                // family size inputs
                function _onSubmit(item) {
                    $("#collapse1").collapse("hide");
                    $("#collapse2").collapse("show");
                    vm.item = item;
                    return $http.post('/api/parents', item)
                        .then(onCreateSuccess)
                        .catch(onError);
                   
                }

                function _submitChild(child) {
                    $("#collapse2").collapse("hide");
                    $("#collapse3").collapse("show");

                    vm.child = child;
                    return $http.post('/api/child', child)
                        .then(onCreateSuccess)
                        .catch(onError);
                }

                function onCreateSuccess(response) {
                    return response.data;
                }

                function onError() {
                    console.log("Error");
                }

                function _getChildren() {
                    return $http.get('/api/child')
                        .then(onGetChildSuccess)
                        .catch(onError);
                }

                function onGetChildSuccess(data) {
                    vm.myChildren = data.item;
                    console.log("Got Children");
                }


            }


        })();
    </script>
}
